<!DOCTYPE html>
<html lang="es">
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<script src="~/js/ProbxDiagCMB.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
