@model ServiceMVC.Models.Servicio

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipoID" class="control-label"></label>
                <input asp-for="EquipoID" class="form-control" />
                <span asp-validation-for="EquipoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIng" class="control-label"></label>
                <input asp-for="FechaIng" class="form-control" />
                <span asp-validation-for="FechaIng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEgr" class="control-label"></label>
                <input asp-for="FechaEgr" class="form-control" />
                <span asp-validation-for="FechaEgr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoTrabajo" class="control-label"></label>
                <input asp-for="TiempoTrabajo" class="form-control" />
                <span asp-validation-for="TiempoTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadesTrabajo" class="control-label"></label>
                <input asp-for="UnidadesTrabajo" class="form-control" />
                <span asp-validation-for="UnidadesTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Solucionado" /> @Html.DisplayNameFor(model => model.Solucionado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
