@model ServiceMVC.Models.Equipo

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<hr />
@*<div class="text-center align-items-center">
    <a href="#modalPersnalizado" data-id='@Url.ActionLink("AgregarDiag","ProbdiagSoles")' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado">Abrir modal</a>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <form id="Agregar" asp-action="ninguna" asp-controller="ProbDiagSoles" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label">Cliente</label>
                <select multiple="multiple" asp-for="ClienteID" class="form-control cmborigen" asp-items="ViewBag.ClienteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipoID" class="control-label">Equipos</label>
                <select multiple="multiple" asp-for="EquipoID" class="form-control cmbdestino" asp-items="ViewBag.EquipoID"></select>
            </div>
            <div class="form-group">
                <input form="Agregar" type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@*<div class="row">
<div class="col-md-4">
    <form id="Agregar" asp-action="VincularDiag" asp-controller="ProbDiagSoles" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ServicioID" value="@ViewBag.ServicioID" />
        <div class="form-group">
            <label asp-for="ProblemaID" class="control-label">Problema</label>
            <select asp-for="ProblemaID" class="form-control cmborigen" asp-items="ViewBag.ProblemaID" data-id="@Url.ActionLink("ProblemaChange","ProbdiagSoles")"></select>
        </div>
        <div class="form-group">
            <label asp-for="DiagnosticoID" class="control-label">Diagnostico</label>
            <select asp-for="DiagnosticoID" class="form-control cmbdestino" asp-items="ViewBag.DiagnosticoID"></select>
        </div>
        <div class="form-group">
            <input form="Agregar" type="submit" value="Agregar" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>*@
@section Scripts{
    @*<script src="~/js/ClientexEquiposCMB.js"></script>*@
    @*<script src="~/js/ProbxDiagCMB.js"></script>*@
}
@*<partial name="_modalview" />*@