@model ServiceMVC.Models.Equipo

@{
    Layout = "_ModalLayout";
}

<h4>Equipos por cliente</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form id="Agregar" asp-action="ninguna" asp-controller="ProbDiagSoles" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label">Cliente</label>
                <select asp-for="ClienteID" class="form-control" asp-items="ViewBag.ClienteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipoID" class="control-label">Equipos</label>
                <select asp-for="EquipoID" class="form-control" asp-items="ViewBag.EquipoID"></select>
            </div>
            <div class="form-group">
                <input form="Agregar" type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/ClientexEquiposCMB.js"></script>
}