@model ServiceMVC.Models.ProbDiagSol

@{
    //ViewData["Title"] = "Crear";
    Layout = null;
}

<h1>Crear</h1>

<h4>Problemas - Diagnosticos - Soluciones</h4>
<p>
    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Create","Problemas")' class="btnLoadModal btn btn-outline-primary" data-toggle="modal" data-target="#modalPersnalizado"><span><i class="bi-plus-circle-fill"></i></span> Agregar Problema</a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServicioID" class="control-label"></label>
                <select asp-for="ServicioID" class ="form-control" asp-items="ViewBag.ServicioID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProblemaID" class="control-label">Problema</label>
                <select asp-for="ProblemaID" class ="form-control" asp-items="ViewBag.ProblemaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticoID" class="control-label">Diagnostico</label>
                <select asp-for="DiagnosticoID" class ="form-control" asp-items="ViewBag.DiagnosticoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SolucionID" class="control-label">Solucion</label>
                <select asp-for="SolucionID" class ="form-control" asp-items="ViewBag.SolucionID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Volver</a>
</div>*@

<partial name="_modalview" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
