@model ServiceMVC.Models.RankingSol

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Está seguro de que desea eliminarlo?</h3>
<div>
    <h4>Ranking Soluciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagxSol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagxSol.DiagxSolID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RankingSolID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
