@model ServiceMVC.Models.ArancelTiempo

@{
    //ViewData["Title"] = "Eliminar";
    Layout = null;
}

<h1>Eliminar</h1>

<h3>Está seguro de que desea eliminarlo?</h3>
<div>
    <h4>Arancel Tiempo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArancelTiempoID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @*<a asp-action="Index">Volver</a>*@
    </form>
</div>
