@model ServiceMVC.Models.ProbxDiag

@{
    //ViewData["Title"] = "Editar";
    Layout = null;
}

<h1>Editar</h1>

<h4>Problema x Diagnostico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProbxDiagID" />
            <div class="form-group">
                <label asp-for="ProblemaID" class="control-label">Problema</label>
                <select asp-for="ProblemaID" class="form-control" asp-items="ViewBag.ProblemaID"></select>
                <span asp-validation-for="ProblemaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticoID" class="control-label">Diagnostico</label>
                <select asp-for="DiagnosticoID" class="form-control" asp-items="ViewBag.DiagnosticoID"></select>
                <span asp-validation-for="DiagnosticoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Volver</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
